{% extends 'base.html' %}
{% load static %}

{% block header %}
<style>
.negativeBalanceChange {
  color: #FF0000;
}

.positiveBalanceChange {
  color: #00ab41;
}</style>
{% endblock %}


{% block content %}


<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Accounts</h1>


    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Table
      </div>
      <div class="card-body">
        <table id="datatablesSimple">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Index</th>
              <th>Initial Investment</th>
              <th>Portfolio Value</th>
              <th>Balance Change Today</th>
              <th>Details</th>
              <th>Delete</th>
            </tr>
          </thead>

          <tfoot>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Index</th>
              <th>Initial Investment</th>
              <th>Portfolio Value</th>
              <th>Balance Change Today</th>
              <th>Details</th>
              <th>Delete</th>
            </tr>
          </tfoot>

          <tbody>
            {% for account in accounts %}
            <tr>
              <td>{{ account.id }}</td>
              <td>{{ account.name }}</td>
              <td>{{ account.index }}</td>
              <td>{{ account.totalEquity }}$</td>
              <td>{{ portfolioValue }}$</td>
              <td>
                {% if balanceChange < 0 %}
                <div class="negativeBalanceChange"> 
                {% else %} 
                <div class="positiveBalanceChange">
                {% endif %}
                {{ balanceChange }}%
                </div>
              </td>
              <td>
                <form action="/showAccount/{{account.id}}">
                  <input type="submit" class="btn btn-secondary" value="+" />
                </form>
              </td>
              <td>
                <form action="{% url 'deleteAccount' pk=account.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" name='deleteAccount' value='deleteAccount'>-</button>
                </form>
              </td>

            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
          <div class="card-body">New Account-Index</div>

          <a class="small text-white stretched-link" href="/newInvestment_setAccount"></a>

        </div>
      </div>


      <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
          <div class="card-body">Rebalance portfolio</div>

          <form action="{% url 'rebalanceAll' %}" method="post">
            {% csrf_token %}
            <button type="submit" name='rebalanceAll' value='rebalanceAll'>Rebalance</button>
          </form>


        </div>
      </div>
    </div>

  </div>

</div>


</main>




{% endblock %}