{% extends 'base.html' %}
{% load static %}

{% block header %}
<style>
  h2{color: blue}
</style>

<style>
  .image-container {
    display: flex;
    justify-content: center;
  }</style>
  {% endblock %}

  {% block content %}


  <main>
    <div class="container-fluid px-4">
      <div class="row">

        <div class="col-xl-6">
          <div class="card mb-4">
            <div class="card-header">
              <i class="fas fa-chart-area me-1"></i>
              Index
            </div>
            <h2>Account name:</h2>
            <h3>{{account.name}}</h3>
          </br>

          <h2>Index:</h2>
          <h3>{{index.symbol}}</h3>
        </br>
        <h2>Market cap:</h2>
        <h3>{{index.marketCap}}M$</h3>
      </br>

      <h2>Initial investment:</h2>
      <h3>{{account.totalEquity}}</h3>
    </br>

    <h2>Number of stocks:</h2>
    <h3>{{numberStocks}}</h3>
</div>
</div>


<div class="col-xl-6">
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Orders
    </div>
    <div class="card-body">
      <table id="datatablesSimple">
        <thead>
          <tr>
            <th>Date</th>
            <th>Stock</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Date</th>
            <th>Stock</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </tfoot>
        <tbody>
          {% for order in orders %}
          <tr>
            <td>{{ order.date }}</td>
            <td>{{ order.stock.symbol }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.price }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<!--Quitar o poner si se quiere a la mitad o al tope de la pantalla-->
<div class="row">
  <div class="col-xl-6"> 
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-chart-bar me-1"></i>
        Weekly profit/loss chart
      </div>
      <div class="image-container"><img style="max-width: 100%" src="{% static 'plot.png' %}"></div>
    </div>
  </div>


  <div class="col-xl-6"> 
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-chart-bar me-1"></i>
        Pie chart
      </div>
      <div class="image-container"><img style="max-width: 100%" src="{% static 'pie.png' %}"></div>
    </div>

  </div>
</div>
</div>
</main>

<footer class="py-4 bg-light mt-auto">
  <div class="container-fluid px-4">
    <div class="d-flex align-items-center justify-content-between small">
      <div class="text-muted">Copyright &copy; Roboadvisor 2022</div>
      <div>
        <a href="#">Privacy Policy</a>
        &middot;
        <a href="#">Terms &amp; Conditions</a>
      </div>
    </div>
  </div>
</footer>


{% endblock %}