<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Roboadvisor</title>
    <link rel="stylesheet" type="text/css" href="{% static 'manageAccounts.css' %}"/>
    <div class="header">
  <h1>Manage accounts</h1>
</div>
</head>
<body>

<table>
  <tr>
    <th>Account</th>
    <th>Index</th>
    <th>Balance</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Juan</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>



</body>
</html>