<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Roboadvisor</title>
    <link rel="stylesheet" type="text/css" href="{% static 'manageAccount.css' %}"/>
    <div class="header">
  <h1>New investment</h1>
  <h3>In the name field, it is recommended to use the e-mail address associated with the Alpaca account.</h3>
</div>
</head>
<body>

{% if not queryBool %}
 <form method="POST" class="post-form">{% csrf_token %}
        {{ form1.as_p }}
        <button type="submit" name="alpacaCredentials" class="save btn btn-default">Save</button>
    </form>
{% endif %}

{% if queryBool %}
 <form action="{% url 'loadIndexes' %}" method="post">
{% csrf_token %}
 <button type="submit" name='loadIndexes' value='loadIndexes'>Load indexes</button>
 </form>

 <form method="post">
  {% csrf_token %}
    <select name="index">
         {% for index in results %}
             <option
              value="{{ index }}"
              {% if selected_index == index %}
                  selected="selected"
              {% endif %}
             >{{ index }}</option>
         {% endfor %}
    </select>
    <input type="submit" name="loadIndexes" value="Select">
</form>
{% endif %}



</body>
</html>